.shadows{
    z-index: 500;
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(31, 29, 29, 0.7);
}
.strting__pop{
    height: 456px;
    max-width: 956px;
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;    
}
.pop__wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}
.pop-img_b{
    max-width: 500px;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}
.backgraund_client{   
    background-image: url(../images/b2c.jpg); 
}
.backgraund_agent{
    background-image: url(../images/b2b.jpg);
}
.link-wrap{
    text-decoration: none;
}
.pop-title__text{
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #3C3C3C;  
    padding: 10px 0;
    text-decoration: none;
}
.maine__wrap{
    max-width: 1162px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 60px;
}
.hidden{
    display: none;
}
.icon svg{
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.chose__box{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.clicker{
    text-align: center;
}
.custom_fields{
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding: 25px 0;
}
.name__input{
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
}
.input__block{
    text-align: center;
}
.input__block input{
    width: 300px;
    height: 30px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #3C3C3C;
}
.chose__button{
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
    background-color: #FFE100;
    color: #3C3C3C;
}
.check__button{
    background-color: green;
    color: #fff;
}
.clean__button{
    background-color: red;
}
.compiler__btn{
    border: 1px solid #3C3C3C;
    font-size: 20px;
    line-height: 22px;
    background: #fff;
    border-radius: 10px;
    padding: 5px 60px;
    margin: 0 auto;
    display: flex;
}