.compiler__header {
    width: 100%;
    height: 500px;
    background: url(https://agent.tui.ru/getmedia/a1ce955e-a75c-4b75-ad51-d282fba74cdc/maine);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.realative-pos {
    position: relative;
}
.wrap {
    max-width: 1162px;
    width: 100%;
    margin: 0 auto;
}
.logo__web {
    position: absolute;
    top: 50px;
    left: 0px;
}